<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title >Manage User</title>
    <link rel="stylesheet" href="style.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <div> <h1>Manage User</h1></div>
    <div>
        <a th:href="@{/users/new}">Add new user</a>
    </div>
    <div>
        <table class="table table-bordered">
            <thead style="color: burlywood ;background-color: aqua">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody class="">
            <th:block th:each="user:${listUsers}">
                <tr>
                    <th>[[${user.id}]]</th>
                    <th>[[${user.email}]]</th>
                    <th>[[${user.password}]]</th>
                    <th>[[${user.firstName}]]</th>
                    <th>[[${user.lastName}]]</th>
                    <th>
                        <a th:href="@{'/users/edit/'+${user.id}}">Edit</a>
                        <a th:href="@{'/users/delete/'+${user.id}}">Delete</a>
                    </th>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>